/**********************************************************************************************************/
/**************************************** Settings for mobile devices********************************************/
/**********************************************************************************************************/



.mobile .cabeçalho {
  margin-top: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-family:helvetica;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 20pt;
  color: #FFD;
  width: 404px;
  text-align: center;
  padding-left: 100px;
  padding: 10px;
  box-shadow: 2px px 8px #ABB2B9;
  background: linear-gradient(45deg, #996633, #996633 100%);
  box-sizing: border-box;

  }
  .mobile .pergunta {
  margin-top: 0px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-family: calibri;
  font-size: 20px;
  color: #2C3E50;
  text-align: justify;
  height: auto;
  width: 404px;
  padding: 30px 30px ;
  box-shadow: 2px px 8px #ABB2B9;
  background-color: #ffcc66;
  box-sizing: border-box;
  }
  
  .mobile .tags {
  margin-top: 0px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-family: calibri;
  height: auto;
  width: 404px;
  font-size: 20px;
  color:  #2C3E50;
  text-align: center;
  padding: 5px; 
  box-shadow: 2px px 8px #ABB2B9;
  background: linear-gradient(45deg, #ffcc66, #ffcc66 90%);
  box-sizing: border-box;

  }
  .mobile .resposta {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-family: helvetica;
  height: auto;
  width: 404px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  margin-top: 0px;
  background-color: #996633;
  box-shadow: 2px px 8px #ABB2B9;
  box-sizing: border-box;

  }
  .mobile .justificativa {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-family: calibri;
  font-size: 20px;
  color: #2C3E50;
  text-align: justify;
  height: auto;
  width: 404px;
  padding: 30px 30px;
  margin-top: 0px;
  box-shadow: 2px px 8px #ABB2B9;
  background-color: #ffcc66;
  box-sizing: border-box;

  }
  
  
  
/**********************************************************************************************************/
/**************************************** Settings for desktop********************************************/
/**********************************************************************************************************/

  .card {
  background: #b5b9c8;
  }
  
  .cabeçalho {
  margin-top: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-family:helvetica;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 22px;
  color: #FFD;
  width: 900px;
  text-align: center;
  padding: 10px;
  box-shadow: 2px 5px 8px AB2B9;
  background: linear-gradient(45deg, #4433ff, #4433ff 100%);
  box-sizing: border-box;

  }
  .pergunta {
  margin-top: 0px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-family: calibri;
  font-size: 25px;
  color: #2C3E50;
  text-align: justify;
  height: auto;
  width: 900px;
  padding: 30px 30px ;
  box-shadow: 2px 5px 8px ABBB9;
  background-color: gold;
  box-sizing: border-box;

  }
  .tags {
  margin-top: 0px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-family: calibri;
  height: auto;
  width: 900px;
  font-size: 20px;
  color:  #2C3E50;
  text-align: center;
  padding: 5px; 
  box-shadow: 2px 5px 8px red;
  background: linear-gradient(45deg, gold, gold 100%);
  box-sizing: border-box;
  }
  
  .resposta {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-family: helvetica;
  height: auto;
  width: 900px;
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  padding: 10px;
  margin-top: 0px;
  background-color: #4433ff;
  box-shadow: 2px 5px 8px AB2B9;
  box-sizing: border-box;

  }
  .justificativa {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-family: calibri;
  font-size: 25px;
  color: #2C3E50;
  text-align: justify;
  height: auto;
  width: 900px;
  padding: 30px 30px;
  margin-top: 0px;
  box-shadow: 2px 5px 8px ABBB9;
  background-color: gold;
  box-sizing: border-box;


  }
  .hint {
  text-decoration: none;
  color: #2C3E50;
  font-family: calibri;
  font-size: 18px;
  text-align: center;
  font-weight: bold;

  }
    